
.content_container {
    margin-top: 2%;

}

#logoutContainer {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Caravel','Quantico', Helvetica, sans-serif;
    color: #303030;
    text-align:center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}

#logoutText p
{
    font-family: 'Quantico', Helvetica, sans-serif;
    color: #F4F4F4;
    text-align:center;
}

#btnReturn
{
     cursor:pointer;
     border: 5px solid #F4F4F4;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     border-radius: 12px;
     text-align:center;
     width:230px;
     height:30px;
     font-size:20pt;
     font-family: 'Caravel', 'Quantico', 'Helvetica', sans-serif;
     color:#e0dfde;
     background:#a32935;
     display:inline-block;
     padding:2%;
     margin-top: 5%;
     -webkit-appearance: none;
}

#btnReturn:hover{
     background: #c23644;
}
#logout_item1 {
    margin-bottom:10%;
    font-style:italic;
}

@media only screen and (max-width : 600px) {
       
    #btnReturn {
        width: 150px;
        height: 30px;
        font-size: 12pt;
    }
}


@media only screen and (max-width : 380px) { 
    
    #exercise_box {
        width:92%;
    }

    #exercise {
        width:100%
    }

    [type=text] {
        width:140px;
     }

    [type=email] {
        width:140px;
     }

    [type=password] {
        width:140px;
     }
}